.book__item {
    background-color: #404040;
    width: 100%;
    min-height: 50px;
    margin-top: 15px;
    padding: 5px 10px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    
}

.book__item td {
    text-overflow: ellipsis;
    text-align: center;
}

.table__header {
    background-color: #242424;

}

.book__title {
  width:35%;
}

.book__date {
  width: 10%;
}


.book__user__dates {
  width: 30%;
}

.book__button {
    width: 15%;
}